extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | Wifinder was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus elementum sagittis vitae et leo duis ut. Id porta nibh venenatis cras. Donec et odio pellentesque diam volutpat commodo sed. Tempor nec feugiat nisl pretium fusce id velit. Posuere ac ut consequat semper viverra nam libero. Amet justo donec enim diam vulputate ut pharetra sit amet. Sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Nec nam aliquam sem et tortor consequat. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Vel eros donec ac odio tempor orci.
        | <br /><br />
        | Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Consectetur lorem donec massa sapien faucibus et molestie ac. Euismod lacinia at quis risus sed vulputate odio. Sed odio morbi quis commodo. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Penatibus et magnis dis parturient montes. Consequat mauris nunc congue nisi vitae. Eget gravida cum sociis natoque penatibus et magnis dis parturient. Nec ultrices dui sapien eget mi proin sed libero. In nisl nisi scelerisque eu ultrices vitae auctor eu augue. Malesuada proin libero nunc consequat interdum varius.
        | <br /><br />
        | Risus feugiat in ante metus dictum at tempor. Tortor posuere ac ut consequat semper viverra. Id aliquet lectus proin nibh nisl condimentum id. At auctor urna nunc id. Cras adipiscing enim eu turpis egestas pretium aenean. Aliquam sem fringilla ut morbi tincidunt. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Diam volutpat commodo sed egestas egestas fringilla phasellus. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat.
