doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-light
      .container
        a.navbar-brand(href='/') Wifinder
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/') Locations
            li.nav-item
              a.nav-link(href='/about/') About
              
    .container.content
      block content

      footer
        .row
          .col-12
            small &copy; Tina Huang 2020

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/validation.js')
    block scripts
      
      script(src='build/runtime-es2015.c5fa8325f89fc516600b.js', type='module')
      script(src='build/runtime-es5.c5fa8325f89fc516600b.js', nomodule)
      script(src='build/polyfills-es2015.5b10b8fd823b6392f1fd.js', type='module')
      script(src='build/polyfills-es5.3e8196928d184a6e5319.js', nomodule)
      script(src='build/main-es2015.fa339a48e8e58111b6a5.js', type='module')
      script(src='build/main-es5.fa339a48e8e58111b6a5.js', nomodule)

      script(src='build/styles.3ff695c00d717f2d2a11.css')